<% cache @food do %>
  <h1><%= @food.name %></h1>
  <div id="food">
    <table>
      <thead>
        <tr>
          <th>Serving Size</th>
          <th>Carbs</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @food.serving_size %>g</td>
          <td><%= @food.carbs %>g</td>
          <td><%= @food.notes %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "Back", foods_path %>
  <%= link_to "Edit", edit_food_path(@food) %>
  <%= button_to "Delete", @food, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
